global_green = rgb(192,214,47)
grey =#E6E6E6

.small
	width 60px

.Header
	background global_green

	
	&-title
		float right
		color white
		padding-right 0.5em
		font-weight 100px
.Logo
	&-imageContainer
		padding 1em
		
.Login
	
	&-form
		background grey
		border-radius 6px
		margin 2em auto
		padding 3em
		width 500px
	&-formInput
		width 400px
		label 
			width 25%
		input 
			border-radius 6px
			border 1px solid grey
			padding-left 0.4em

.Register
	background grey
	&-form
		padding 2em	
	&-formInput
		width 400px
		label
			width 25%
		input 
			border-radius 6px
			border 1px solid grey
			padding-left 0.4em

.RegisterSewa
	background grey
	&-form
		padding 2em	
	&-formInput
		width 500px
		label
			width 40%
		input 
			border-radius 6px
			border 1px solid grey
			padding-left 0.4em
			width 300px
			
.Main
	&-option
		background grey
		border-radius 6px
		margin 2em auto
		width 400px
		text-align center
	&-option:hover
		background global_green
			
	&-optionTitle
		color white
		font-size 2em
	&-optionLink
		padding 1em
		text-decoration none
	&-optionLink:hover
		text-decoration none	

.Menu
	background grey
	margin-bottom 2em
	&-container
		margin 0
	&-list
		list-style none
		padding 1em 0
		margin 0
	&-option
		display inline
		margin 0 0.5em
		padding 1em 
		border-bottom 5px solid transparent
		&:hover
			border-bottom 5px solid global_green
	&-link
		padding 0.5em 1em
		background blue
		&:hover
			text-decoration none
.SearchPanel
	background grey
	width 350px
	float left
	overflow hidden
	&-searchContainer
		border-bottom 2px solid global_green
		padding 0.7em
	&-list
		height 500px
		width 350px
		overflow hidden
		overflow-y scroll
		list-style none
		padding 0
	&-item
		margin 0.3em 0 
		border-bottom 1px solid white	
		font-size 0.7em
		padding 0 0.3em
		&:hover
			color global_green	
	&-formInput
		width 400px
		label
			width 15%
		input 
			border-radius 6px
			border 1px solid grey
			padding-left 0.4em	
	&-addContainer
		border-bottom 2px solid global_green
		padding 0.7em
		float right
		width 100%
		
		
.View
	background global_green
	height 685px
	overflow auto
	overflow-x scroll
	white-space nowrap
	&-container
		padding 1em
		padding-left 1em
.large
	width 400px
		
.Table
	
	&-titleContainer
		padding 0.5em 2em
		background grey
		border 1px solid white
		width 500px
		text-align center
	&-title
		font-size 0.8em
	&-colum
		text-align center
		padding 0.3em 1em
		font-size 0.8em
		border 1px solid white
					
		

			
		
	
		
			
			
			
			
		
			
		
				
			
			
			
			

			
	
			
				
		
		
	

