global_green = rgb(192,214,47)
grey =#E6E6E6

.small
	width 60px

.Header
	background global_green
	padding-right 1em
	&-nav
		float right
		margin-top 22px
	&-nav a 
		font-size 14px
		color white
		text-decoration none
		padding-left 1em
	&-title
		float right
		color white
		padding-right 0.5em
		font-weight 100px
.Logo
	&-imageContainer
		padding 1em
		width 130px
	&-image
		width 100%
		
#content
	width 85%
	
.SideMenu
	width 15%
	float right
.SideMenu ul
	list-style none

/* Login route*/
		
.Login
	
	&-form
		background grey
		border-radius 6px
		margin 2em auto
		padding 3em
		width 500px
	&-formInput
		width 400px
		label 
			width 25%
		input 
			border-radius 6px
			border 1px solid grey
			padding-left 0.4em


					
		

			
		
	
		
			
			
			
			
		
			
		
				
			
			
			
			

			
	
			
				
		
		
	

